[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vibrantink"]
	path = bundle/vibrantink
	url = https://github.com/vim-scripts/vibrantink.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
